$color-primary: green;
$color-secondary: lightgreen;
$color-white: #fff;

$color-blue-1: rgb(90, 252, 79);
$color-blue-2: rgb(131, 255, 123);
$color-blue-3: rgb(176, 255, 170);
$color-blue-dark: #3f4a56;

$color-grey-light: #b9b9b9;
$color-grey-dark: #474747;
