// scss 주석
/* css 주석 */
//nesting 둥지, 포함한 -> 중첩: 포함관계를 적용한 문법
/*nesting 둥지, 포함한 -> 중첩: 포함관계를 적용한 문법*/

$red: #ff7b7b;
$pink: #ffbdbd;
$blue: #5949d3;
$green: #8fffbc;
$beige: #fff4c1;
$black: #333;
$px10: 10px;

/*scss 변수*/

html {
  font-size: 18px;
}

body {
  margin: calc($px10 * 2);
  background-color: $beige;
}

div {
  color: $black;
  padding: calc($px10 * 2);
}

a {
  display: inline-block;
  margin: 10px 0;
}

#box1 {
  & {
    font-size: calc($px10 * 4);
    background-color: $pink;
    border-radius: 20px;
    border: 3px solid $red;
    -webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);
  }

  & > a {
    color: #a22;
    text-decoration: none;
  }
  & :hover {
    background-color: #ccc;
  }
  & #box2 {
    font-size: 20px;
    background-color: #e9e9e9;
    border-radius: 20px;
    border: 3px solid #f00;
    -webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.75);
  }

  & #box2 > a {
    color: #ee6633;
    text-decoration: none;
  }

  & #box2 > a:hover {
    color: #a22;
    text-decoration: none;
  }
  & -title {
    color: $red;
    background: linear-gradient($blue, $green);
  }
}
